.title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #0D0D0D;
    text-transform: uppercase;
    &__left {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        text-align: left;
        line-height: 50px;
    }
}